body {
    color: #444;
    font-family: sans-serif;
    font-size: 24px;
    text-align: center;
    padding: 10%;
}

a:link,a:visited {
    color: #602C49;
}

a:hover,a:active {
    color: #93376B;
}


h1 {
    margin: 0;
}

label, .label {
    border-radius: 8px;
    border-width: 2px;
    border-style: solid;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    margin: 10px;
}

p, li {
    text-align: left;
    line-height: 1.6;
}

textarea {
    display: none;
}

/* http://paletton.com/#uid=13i0u0koLAO4EZFbXU6GnikGu97 */
.label-blue {
    background-color: #92E9E9;
    border-color: #005858;
    color: #005858;
}
.label-blue:hover {
    background-color: #D6FBFB;
}

/* http://paletton.com/#uid=12P0u0koLAO4EZFbXU6GnikGu97 */
.label-green {
    background-color: #99F499;
    border-color: #007500;
    color: #007500;
}
.label-green:hover {
    background-color: #D8FDD8;
}

.label-grey {
    background-color: #bbbbbb;
    border-color: #171717;
    color: #171717;
    cursor: default;
}


.labeled-input {
    display: none;
}

.description {
    font-size: 20px;
}

.github-link {
    font-size: 16px;
}

#selector-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.5);
}

#selector-container {
    position: relative;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    overflow: auto;
}

#footer {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 10px;
}
